body {
	
	

	background-repeat: no-repeat;
	background-size: 55%;
	background-position: center top;
	margin-left: 0px;
	margin-top: 10px;
	background-color: #FFFFFF;
	float: left;
	position: static;
}
